<nav class="ts-breadcrumbs" aria-label="breadcrumb">
  <div class="ts-breadcrumbs__container">
    <ol class="ts-breadcrumbs__list">
      <li class="ts-breadcrumbs__back">
        <a id="home_button" href="{{ routes.root_url }}">
          <span class="ts-breadcrumbs__back-icon">
            <svg
              width="27"
              height="27"
              viewBox="0 0 20 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M10.0001 5.24167L14.1667 8.99167V15.5H12.5001V10.5H7.50008V15.5H5.83341V8.99167L10.0001 5.24167ZM10.0001 3L1.66675 10.5H4.16675V17.1667H9.16675V12.1667H10.8334V17.1667H15.8334V10.5H18.3334" fill="black" />
            </svg>
          </span>
        </a>
      </li>

      {%- comment -%} Handle page template {%- endcomment -%}
      {% if template.name == "page" %}
        <li>
          <span class="ts-breadcrumbs__dot"></span>
          <p>{{ page.title }}</p>
        </li>
      {% endif %}

      {%- comment -%} Handle product template {%- endcomment -%}
      {% if template.name == "product" %}
        <li>
          <span class="ts-breadcrumbs__dot"></span>
          {% if template == 'product.product-new' or template == 'collection.american-states' or template == 'collection.promo' or template == 'collection.canada-cities' or template == 'collection.australia-cities' or template == 'collection.promo-materials' %}
            <a href="https://alite.cc/pages/antiradar-stickers-for-license-plate">Antiradar stickers</a>
            <span class="ts-breadcrumbs__caret">{% render 'ts-icon-caret' %}</span>
          {% endif %}
        </li>

        {%- comment -%} Loop through product collections and build hierarchy {%- endcomment -%}
        {% for collection in product.collections reversed %}
          <li data-f>
            <a href="{{ collection.url }}">{{ collection.title }}</a>
            <span class="ts-breadcrumbs__caret">{% render 'ts-icon-caret' %}</span>
          </li>
        {% endfor %}

        <li>
          <p>{{ product.title }}</p>
        </li>
      {% endif %}

      {%- comment -%} Handle blog template {%- endcomment -%}
      {% if template.name == "blog" %}
        <li>
          <span class="ts-breadcrumbs__caret">{% render 'ts-icon-caret' %}</span>
          <p>{{ blog.title }}</p>
        </li>
      {% endif %}

      {%- comment -%} Handle article template {%- endcomment -%}
      {% if template.name == "article" %}
        <li>
          <span class="ts-breadcrumbs__caret">{% render 'ts-icon-caret' %}</span>
          <a href="{{ blog.url }}">{{ blog.title }}</a>
          <span class="ts-breadcrumbs__caret">{% render 'ts-icon-caret' %}</span>
        </li>
        <li>
          <p>{{ article.title }}</p>
        </li>
      {% endif %}

      {%- comment -%} Handle collection template {%- endcomment -%}
      {% if template.name == "collection" %}
        <li>
          <span class="ts-breadcrumbs__dot"></span>
          <p>{{ collection.title }}</p>
        </li>
      {% endif %}
    </ol>
  </div>
</nav>

<script defer="defer">
  const back_button = document.getElementById('home_button');
  if (document.referrer) {
    back_button.href = document.referrer;
  } else {
    back_button.href = '/';
  }
</script>

{% schema %}
  {
    "name": "TS Breadcrumbs",
    "settings": [],
    "presets": [
      {
        "name": "TS Breadcrumbs"
      }
    ]
  }
{% endschema %}